header {
    padding: 15px, 5px 15px;
    background-color: #f2dcbb;
}

body {
    width: 480px;
    padding: 15px, 5px 15px;
    background-color: #f9f7cf;
}

footer {
    padding: 15px, 5px 15px;
    background-color: #f2dcbb;
}