body {
    padding: 16px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
    text-align: left;  
}


tr:nth-child(odd){background-color: #f2f2f2;}

th{
    background-color: rgb(68, 66, 64);  
    color: white;
    
}
td, th {
    border: 1px solid #ccc;
    padding-left: 10px;
    
}

@media screen and (max-width: 400px) {
    
    /* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) 
    Move the head*/
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "First Name"; }
	td:nth-of-type(2):before { content: "Last Name"; }
	td:nth-of-type(3):before { content: "Job Title"; }
	
}